.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.file-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.file-upload {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.file-upload input[type="file"] {
  margin-right: 10px;
}

.upload-btn {
  margin-left: 10px;
}

.files-section {
  width: 80%;
  margin-top: 20px;
}

.files-header {
  text-align: center;
}

.file-headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.file-header {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.files {
  display: flex;
  flex-direction: column;
}

.file-item {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.file-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.file-detail {
  flex: 1;
  text-align: center;
}

.file-detail a {
  text-decoration: none;
  color: #007bff;
}

.file-detail a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
.upload-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
