<div *ngIf="userEmail" class="file-upload-container">
  <div class="top-right-buttons">
    <button (click)="goBackToGroups()" class="back-btn">Back to Groups</button>
    <button *ngIf="hasUserUploadedFiles()" (click)="toggleDeleteMode()" class="delete-btn">
      {{ enableDeleteMode ? 'Click to Cancel' : 'Click to select file to delete' }}
    </button>
  </div>
  <div class="file-section">
    <div class="file-header-container">
      <h2 class="upload-header">Upload File</h2>
    </div>
    <div class="file-upload">
      <input #fileInput type="file" (change)="onFileSelected($event)" class="file-input">
      <button (click)="onUploadFile()" [disabled]="!selectedFile || showFileOptions" class="upload-btn">Upload</button>
    </div>
    <div *ngIf="showFileOptions" class="file-options centered-content">
      <p>A file with the same name already exists. Choose an action:</p>
      <div *ngFor="let file of filesWithSameName" class="file-same-name">
        <label>
          <input type="checkbox" (change)="toggleFileSelection(file.id)">
          {{ file.name }} ({{ file.timestamp.toDate() | date:'hh:mm:ss a' }})
        </label>
      </div>
      <div class="options-buttons centered-content">
        <button (click)="onUploadFile(true)" [disabled]="!canOverwrite()" class="option-btn">Overwrite/Delete selected</button>
        <button (click)="onUploadFile(false)" [disabled]="isUploading" class="option-btn">Upload as new file</button>
        <button (click)="cancelUpload()" class="option-btn">Cancel</button>
      </div>
    </div>
  </div>
  <div class="files-section">
    <h2 class="files-header">Files</h2>
    <div class="file-headers">
      <div class="file-header checkbox-header"></div>
      <div class="file-header">Uploader</div>
      <div class="file-header">Date Uploaded</div>
      <div class="file-header">Time Uploaded</div>
      <div class="file-header">File Name</div>
    </div>
    <div class="files-scrollable">
      <div *ngFor="let file of files" class="file-item">
        <div class="file-details">
          <div class="file-detail checkbox-detail">
            <input *ngIf="enableDeleteMode && file.uploadedBy === userEmail" type="checkbox" (change)="toggleUserFileSelection(file.id)">
          </div>
          <div class="file-detail">{{ file.uploadedBy }}</div>
          <div class="file-detail">{{ file.timestamp.toDate() | date:'shortDate' }}</div>
          <div class="file-detail">{{ file.timestamp.toDate() | date:'hh:mm:ss a' }}</div>
          <div class="file-detail"><a [href]="file.url" target="_blank">{{ file.name }}</a></div>
        </div>
      </div>
    </div>
    <div *ngIf="canDeleteUserFiles()" class="delete-options">
      <button (click)="onDeleteUserFiles()" class="delete-btn">Confirm delete</button>
      <button (click)="cancelUserFileDeletion()" class="delete-btn">Cancel</button>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
