.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-section {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.file-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.upload-header {
  flex-grow: 1;
  text-align: center;
  margin-left: 180px;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.file-input {
  margin-right: 10px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.upload-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.upload-btn[disabled] {
  background-color: #a5d6a7;
}

.file-options {
  margin-top: 10px;
}

.options-buttons {
  display: flex;
  gap: 10px;
}

.options-buttons .option-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.options-buttons .option-btn[disabled] {
  background-color: #90caf9;
}

.files-section {
  width: 100%;
}

.files-header {
  text-align: center;
  margin-bottom: 10px;
}

.file-headers,
.file-details {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 2fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.file-headers .file-header,
.file-details .file-detail {
  text-align: center;
}

.file-detail.checkbox-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.delete-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
