<div *ngIf="userEmail">
  <h2 class="chat-header">Group Chat</h2>
  <div class="chat-window">
    <div *ngFor="let message of messages" class="message">
      <strong>{{ message.sender }}:</strong> {{ message.text }}
    </div>
  </div>
  <div class="send-message">
    <input
      [(ngModel)]="messageText"
      placeholder="Type your message"
      class="message-input"
      (keydown.enter)="onSendMessage()">
    <button (click)="onSendMessage()" class="send-button">Send</button>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
<div *ngIf="!userEmail" class="error-message">
  You must be logged in to send messages.
</div>
