service cloud.firestore {
match /databases/{database}/documents {
    match /groups/{groupId} {

      match /messages/{messageId} {
        allow read, write, delete, create: if request.time < timestamp.date(2024, 7, 17);
    }
    match /files/{fileId} {
        allow read, write, delete, create: if request.time < timestamp.date(2024, 7, 17);
  	}
     match /schedules/{scheduleId} {
        allow read, write, delete, create: if request.time < timestamp.date(2024, 7, 17);
		}
    allow read,write, delete,create: if request.time < timestamp.date(2024, 7, 17);
}
}
}
