/* styles.css */
.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.group-form, .group-list {
  width: 90%; /* Adjust the width as needed */
  max-width: 1200px; /* Add max-width for better responsiveness */
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.header-center {
  text-align: center;
  margin-bottom: 20px;
}

.group-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.group-form input {
  width: 98%;
  padding: 10px;
  margin-bottom: 20px; /* Add space between input and create button */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.group-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.group-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.group-actions button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.create-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-btn:hover {
  background-color: #218838;
}
