<!-- group.component.html -->
<div class="group-container">
  <div class="group-form">
    <h2 class="header-center">Create Group</h2>
    <form (ngSubmit)="onCreateGroup()">
      <label for="groupName">Group Name:</label>
      <input type="text" id="groupName" [(ngModel)]="groupName" name="groupName" required>
      <button type="submit" class="create-btn">Create Group</button>
    </form>
    <div *ngIf="createGroupErrorMessage" class="error-message">{{ createGroupErrorMessage }}</div>
  </div>
  <div class="group-list">
    <h2 class="header-center">Groups</h2>
    <ul>
      <li *ngFor="let group of groups">
        {{ group.groupName }} - Members: {{ group.members.length }}
        <div class="group-actions">
          <ng-container *ngIf="group.members.includes(userEmail); else notMember">
            <button (click)="navigateToGroupChat(group.id)">Chat</button>
            <button (click)="navigateToFileUpload(group.id)">File Upload</button>
            <button (click)="navigateToGroupSchedules(group.id)">Schedules</button>
            <button (click)="leaveGroup(group.id)">Leave Group</button>
          </ng-container>
          <ng-template #notMember>
            <button (click)="joinGroup(group.id)">Join Group</button>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</div>
