body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.nav-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 25px;
  background: none;
  border: none;
  color: #ff0000;
  cursor: pointer;
  z-index: 1001;
  transition: left 0.3s;
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: -270px;
  background-color: #111;
  overflow-x: hidden;
  transition: left 0.6s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidenav.open {
  left: 0;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav ul.nav-items {
  flex-grow: 1;
  margin-top: 60px;
}

.sidenav ul.logout-item {
  margin-bottom: 20px;
}

.sidenav ul li {
  padding: 8px 16px;
  text-align: center;
}

.sidenav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  transition: 0.3s;
}

.sidenav ul li a:hover {
  background-color: #575757;
}

.sidenav ul.logout-item li a {
  color: #ff0000;
  cursor: pointer;
}

.main {
  flex-grow: 1;
  padding: 16px;
  transition: margin-left 0.3s;
  margin-left: 0;
  width: 100%;
}

.main.shifted {
  margin-left: 170px;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 200px;
    left: -200px;
  }

  .sidenav.open {
    left: 0;
  }

  .nav-toggle {
    left: 10px;
  }

  .main {
    margin-left: 0;
  }

  .main.shifted {
    margin-left: 200px;
  }
}
