<div class="container">
  <button class="nav-toggle" *ngIf="userLoggedIn" (click)="toggleNav()">☰</button>
  <nav class="sidenav" [class.open]="isNavOpen" *ngIf="userLoggedIn">
    <ul class="nav-items">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/groups">Groups</a></li>
    </ul>
    <ul class="logout-item">
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>
  <div class="main" [class.shifted]="isNavOpen && userLoggedIn">
    <router-outlet></router-outlet>
  </div>
</div>
