.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.schedule-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow-y: auto; /* Ensure vertical scrolling */
  height: 80vh; /* Adjust the height to allow scrolling */
}

.calendar-container {
  width: 100%;
  max-width: 1200px; /* Adjust the max-width as needed to make the calendar wider */
}

.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-toolbar-chunk {
  flex: 1;
  display: flex;
  justify-content: center;
}

.fc-toolbar-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
