<div class="scrollable-container">
  <div *ngIf="userEmail">
    <h2 class="center">{{ userEmail }}'s Profile</h2>
    <div>
      <h3 class="center">Your Groups</h3>
      <ng-container *ngIf="groups$ | async as groups">
        <pre>{{ groups | json }}</pre> <!-- Debugging raw groups data -->
        <div *ngFor="let group of groups" class="group-box">
          <h4 class="center">{{ group.groupName }}</h4>
          <div class="group-section">
            <div class="group-container">
              <div class="group-chats">
                <h5>Chats</h5>
                <ul>
                  <li *ngFor="let chat of group.chats">
                    {{ chat.text }} ({{ chat.timestamp }})
                  </li>
                </ul>
              </div>
              <div class="group-files">
                <h5>Files</h5>
                <ul>
                  <li *ngFor="let file of group.files">
                    {{ file.name }} ({{ file.timestamp }})
                  </li>
                </ul>
              </div>
              <div class="group-schedules">
                <h5>Schedules</h5>
                <pre>{{ group.schedules | json }}</pre> <!-- Debugging raw schedules data -->
                <ul>
                  <li *ngFor="let schedule of group.schedules">
                    <div>Schedule: {{ schedule | json }}</div>
                    <div *ngIf="schedule.eventName">Name: {{ schedule.eventName }}</div>
                    <div *ngIf="schedule.eventDate">Date: {{ schedule.eventDate }}</div>
                    <div *ngIf="schedule.eventTime">Event Time: {{ schedule.eventTime }}</div>
                    <div *ngIf="schedule.startTime">Start Time: {{ schedule.startTime }}</div>
                    <div *ngIf="schedule.endTime">End Time: {{ schedule.endTime }}</div>
                    <div *ngIf="schedule.eventDescription">Description: {{ schedule.eventDescription }}</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
