<div *ngIf="user$ | async as user">
  <h2>{{ user.displayName }}'s Profile</h2>

  <div>
    <h3>Your Direct Chats</h3>
    <ul>
      <li *ngFor="let chat of directChats$ | async">
        {{ chat.title }} <!-- Adjust based on your chat data structure -->
      </li>
    </ul>
  </div>

  <div>
    <h3>Your Groups</h3>
    <ul>
      <li *ngFor="let group of groups$ | async">
        {{ group.groupName }}
        <ul>
          <li *ngFor="let chat of group.chats">
            {{ chat.content }} <!-- Adjust based on your chat data structure -->
          </li>
        </ul>
        <ul>
          <li *ngFor="let file of group.files">
            {{ file.name }}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h3>Your Files</h3>
    <ul>
      <li *ngFor="let file of files$ | async">{{ file.name }}</li>
    </ul>
  </div>
</div>
