.scrollable-container {
  height: 100vh; /* Full viewport height */
  overflow: auto; /* Enables scrolling */
}

.center {
  text-align: center;
}

.group-box {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.group-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-chats, .group-files, .group-schedules {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

h5 {
  margin-top: 0;
}
