/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb) !important;
  color: #333;
}

/* Example styles for navigation */
nav {
  background-color: #000000;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
